<!DOCTYPE html>
<html ng-app>
<head>
  <title>RxKeeper</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="group">
    <div class="nav-content">
    <h4><a href="/">Rx Keeper</a></h4>
    <% if current_user %>
    <a href="#/signout" class="logout-button">Logout</a>
      <h5><a href="#/prescriptions"><%=current_user.username -%></a></h5>
    <% else %>
      <a href="#/login">Sign In</a>
      <a href="#/signup">Sign Up</a>
    <% end %>
  </div>
  </nav>
  <div id="content" class="content group">
    <%= yield %>
  </div>

</body>
</html>
